body {
    background: url(../img/BG\ and\ elements.png) #1B1B20 center/cover no-repeat;
    color: #fff;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #09132F;
    z-index: 99;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
    }
    &__logo {
        width: 7.35rem;
        height: 0.75rem;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__button {
        position: relative;
        max-width: fit-content;
        padding:0.6rem 1.2rem ;
        border-radius:1.5rem ;
        font: inherit;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        outline: 2px solid #fff;
        overflow: hidden;
        transition: color 1s;
        animation: button 5s infinite linear;

    }
    &__button:hover {
        color: #fff;
    }

    &__button:hover {
        color: #833ab4;
    }

    &__button::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 0;
        height: 100%;
        background-color: #fff;
        transform: skewX(35deg);
        z-index: -1;
        transition: width 1s;
    }
    &__button:hover::before {
        width: 150%;
    }
    &__headen-menu{
        display: none;
    }
    &__dropdown{
        position: relative;
        img{
            width: 2rem;
            height: 2rem;
        }
    }
    &__dropdown-menu{
        position: absolute;
        display: none;
        top: 105%;
        right: 20%;
        min-width: 10rem;
        padding: 1rem;
        background-color: #2C90F7;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 100;
        li{
            margin-bottom: 0.5rem;
            margin-left: 0.3rem;
        }
    }
    &__dropdown-btn {
        position: relative;
        display: block;
    }
    &__dropdown:hover .header__dropdown-menu{
        display: block;
    }

}

.wf-section {
    margin: 0 auto;
    padding-bottom: 6.1rem;
    padding-top: 9.15rem;
    &__container {
        display: grid;
        grid-template-columns: 21.95rem 37.8rem;
        justify-content: space-between;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-bottom: 1.6rem;
        color: #fff;
    }
    &__txt {
        margin-bottom: 2.85rem;
        color: #fff;
    }
    &__button {
        position: relative;
        max-width: fit-content;
        padding:0.6rem 1.2rem ;
        border-radius:1.5rem ;
        font: inherit;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #2C90F7;
        outline: 2px solid #2C90F7;
        overflow: hidden;
        transition: color 1s;
        animation:button 5s infinite linear;
    }
    
    &__button:hover {
        color: #833ab4;
        box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
    }
    &__button:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          120deg,
          transparent,
          rgba(146, 148, 248, 0.4),
          transparent
        );
        transition: all 650ms;
      }
    &__button:hover:before {
        left: 100%;
      }
    
    
    &__animation {
        display: flex;
        position: relative;
        gap: 2.8rem;
        transform-style: preserve-3d;
        transform: perspective(16cm);   
    }
    &__img-man {
        position: absolute;
        left: 10rem;
        top: 10rem;
        width: 191px;
        height: 530px;
        animation-name: man-step;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    &__right-table {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 15.85rem;
        height: 14rem;
        padding: 2rem 1rem; 
        border-radius: 50% 20%/10% 40%;
        border: 1px solid #fff;
        background-color: rgba($color: #000000, $alpha: 0.2);
        -webkit-animation : right-table 5s ease-out infinite; 
        animation : right-table 5s ease-out infinite; 
        transform-origin : 50% top -50px; 
        -webkit-transform-origin : 50% top -250px;  
        -moz-transform-origin : 50% top -250px; 
        -ms-transform-origin : 50% top -250px; 
        transform : scale3d(0.5, -1, 2); 
        -webkit-transform : scale3d(0.5, -1, 2); 
        -moz-transform : scale3d(0.5, -1, 2);  
        -ms-transform : scale3d(0.5, -1, 2);
        
    }
    &__left-table {
        position: relative;
        width: 15.85rem;
        height: 14rem;
        padding: 1rem;
        padding-top: 3.15rem;
        padding-left: 1.3rem;
        border-radius: 25% 10%;
        border: 1px solid #fff;
        background-color: rgba($color: #000000, $alpha: 0.2);
        -webkit-animation : left-table 5s ease-out infinite; 
        animation : left-table 5s ease-out infinite; 
        transform-origin : 50% 50% top 350px;
       -webkit-transform-origin : 50% 50%  250px;
       -moz-transform-origin : 50% 50% 250px; 
       -ms-transform-origin : 50% 50% 250px;
       transform : scale3d(0.5, -1, 2);
       -webkit-transform : scale3d(0.5, -1, 2);
       -moz-transform : scale3d(0.5, -1, 2);
       -ms-transform : scale3d(0.5, -1, 2);
    }
    &__animation:hover .right-table__chart1 {
        left: 0;
        top: 4rem;
    }
    &__animation:hover .right-table__chart2 {
        left: 0;
        top: 2.5rem;
    }
    &__gal{
        position: absolute;
        top: -50%;
        left: 60%;
        width: 30%;
        height: 30rem;
        z-index: -1;
    }
    &__coin{
        position: absolute;
        top: -45%;
        left: -15%;
        width: 20%;
        height: 20rem;
        z-index: -1;
    }
}

.right-table {
    &__content {
    display: flex;
    flex-direction: column;
    
    }
    &__charts {
        display: flex;
        position: relative;
    }    
    &__chart1 {
        position: absolute;
        left: 0;
        top: 3rem;
        width: 124px;
        height: 32px;
        transition: all 1s linear;
    }
    &__chart2 {
        position: absolute;
        left: 0;
        top: 3rem;
        width: 124px;
        height: 32px;
        transition: all 1s linear;
    }
    &__cercles {
        display: flex;
        gap: 1rem;
        div{
            width: 0.6rem;
            height: 0.6rem;
        }
    }
    &__title {
        font: 600 0.9rem/1.4 "Montserrat";
        color: #fff;
        max-width: 7.2rem;
        margin-bottom: 1rem;
    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10rem;
        padding: 0.5rem;
        border: 1px solid #fff;
        border-radius: 40px 10px;
        
        p {
            text-align: center;
            font: 500 0.625rem/1.4 "Montserrat";
            color: #fff;
        }
    }
    &__box-img {
        width: 98px;
        height: 64px;
        background-color: #2C90F7;
        border-radius: 20px;
        margin-bottom: 0.5rem;
    }
    &__box-txt {
        border-bottom: 3px solid #fff;
    }
}
.left-table {
    &__title {
        font: 600 0.9rem/1.4 "Montserrat";
        color: #fff;
        max-width: 7.2rem;
        margin-bottom: 6.1rem;
    }
    &__img {
        position: absolute;
        width: 100%;
        left: 0;
        top: 1.2rem;
    }

    &__cash {
        display: flex;
        justify-content: space-between;
        p{
            color: #fff;
        }
    }
}
.wrap {
    padding: 5rem;
    margin-bottom: 7rem;
    border-radius: 1rem;
    border: 1px solid black;
    backdrop-filter: blur(15px);
    background-color: rgba($color: #D804FA0A, $alpha: 0.04);
    background: #D804FA0A;
    box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6);
}
.passive-income {
    &__holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font: 700 2rem/1.2 "Montserrat";
        font-style: normal;
        margin-bottom: 0.55rem;
        text-align: center;
        color: #fff;
    }
    &__txt {
        font: 400 0.8rem/1.3 "Montserrat";
        margin-bottom: 4.15rem;
        text-align: center;
        color: #fff;
    }
    &__card1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5.7rem;
        margin-bottom: 3rem;
    }
    &__card-content {
        max-width: 30rem;
    }
    &__card-title {
        position: relative;
        font: 600 1.3rem/1.7 "Montserrat";
        margin-bottom: 2.6rem;
        color: #fff;
    }
    &__card-content:hover .card-title1::after{
        width: 20rem;
    }
    &__card-content:hover .card-title2::after{
        width: 20rem;
    }
    &__card-txt {
        font: 400 0.8rem/1.35 "Montserrat";
        color: #fff;
    }
    &__card2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5.7rem;
        margin-bottom: 3rem;
    }
    &__img {
        position: relative;
        width: 15rem;
        height: 15rem;
    }
    &__img:hover .cercle {
        transition: all 1s ease;
        transform: scale(0.8) rotate(-360deg);
    }
    &__img:hover .anim__pig {
        transition: all 3s ease;
        transform: scale(1.3) rotate(360deg);
    }
    &__img:hover .anim__money {
        transition: all 3s ease;
        transform: scale(1.3) rotate(360deg) translateX(3rem);
    }
    &__img:hover .anim__cash {
        transition: all 3s ease;
        transform: scale(1.3) rotate(360deg) translateY(3rem);
    }
    &__img:hover .anim__cash2 {
        transition: all 3s ease;
        transform: scale(1.3) rotate(-300deg) translate(3rem);
    }
    // &__img:hover .anim__computer {
    //    transition: all 2s ease;
    //    transform: rotate(360deg); 
    // }
    // &__img:hover .anim__chart1 {
    //     transition: all 2s ease;
    //     transform:  rotate(720deg); 
    // }
    // &__img:hover .anim__chart2 {
    //     transition: all 2s ease;
    //     transform:  rotate(720deg); 
    // }
    // &__img:hover .anim__chart3 {
    //     transition: all 2s ease;
    //     transform:  rotate(720deg); 
    // }
    &__img:hover .anim__red-cercle {
        transition: all 1.5s ease;
        transform: scale(1.3) rotate(360deg) translateX(1rem);
    }
    &__img:hover .anim__green-cercle {
        transition: all 1.5s ease;
        transform: scale(1.3) rotate(360deg) translateY(2rem);
    }
    &__img:hover .anim__blue-cercle {
        transition: all 1.5s ease;
        transform: scale(1.3) rotate(-300deg) translate(-9rem);
    }
}

.anim{
    &__pig{
        width: 10rem;
        height: 10rem;
        position: absolute;
        left: 2rem;
        top: 2rem;
    }
    &__money{
        width: 6.7rem;
        height: 3.85rem;
        position: absolute;
        left: 0;
        top: 1rem;
        animation-name: cash;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    &__cash{
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 0;
        top: 1rem;
        animation-name: cash;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    &__cash2{
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 3rem;
        top: 0.5rem;
        animation-name: cash2;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    &__computer{
        width: 10rem;
        height: 7rem;
        position: absolute;
        left: 2.8rem;
        top: 5rem;
    }
    &__chart1{
        width: 8.15rem;
        height: 2.5rem;
        position: absolute;
        left: 3.5rem;
        top: 6rem;
    }
    &__chart2{
        width: 8.15rem;
        height: 2.5rem;
        position: absolute;
        left: 3.5rem;
        top: 7rem;
    }
    &__chart3{
        width: 8.15rem;
        height: 2.5rem;
        position: absolute;
        left: 3.5rem;
        top: 8rem;
    }
    &__tangle{
        width: 4.25rem;
        height: 4.25rem;
        position: absolute;
        left: 1rem;
        top: 3.6rem;
        border-radius: 50%;
        backdrop-filter: blur(0.2rem);
        border: 1px solid rgba($color: #fff, $alpha: 0.09);
    }
    &__red-cercle{
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 10rem;
        top: 3.6rem;
        border-radius: 50%;
        background-color: red;
    }
    &__blue-cercle{
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 10rem;
        top: 13rem;
        border-radius: 50%;
        background-color: blue;
    }
    &__green-cercle{
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 1rem;
        top: 10rem;
        border-radius: 50%;
        background-color: green;
    }
    
    &__telephone{
        position: absolute;
        top: 30%;
        left: 15%;
        width: 10%;
        height: 13%;
        animation-name: levi;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    &__coin1{
        position: absolute;
        top: 38%;
        left: 18%;
        width: 10%;
        height: 5%;
        animation-name: levi;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    &__coin2{
        position: absolute;
        top: 45%;
        left: 13.5%;
        width: 10%;
        height: 5%;
        animation-name: levi;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

}


.anim__red-cercle {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: red;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(252, 29, 0, 0.4);
	animation: anim__red-cercle 2s infinite;
}
.anim__red-cercle:hover {
	animation: none;
}
.anim__blue-cercle {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: blue;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(0, 25, 252, 0.4);
	animation: anim__blue-cercle 2s infinite;
}
.anim__blue-cercle:hover {
	animation: none;
}
.anim__green-cercle {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: rgb(0, 255, 13);
	cursor: pointer;
	box-shadow: 0 0 0 rgba(81, 255, 0, 0.4);
	animation: anim__green-cercle 2s infinite;
}
.anim__green-cercle:hover {
	animation: none;
}

.card-title1::after{
    content: '';
    width: 10.4rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    top: 5.5rem;
    background-color: #2C90F7;
    transition: all 1s ease;
}
.card-title2::after{
    content: '';
    width: 10.4rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    top: 7.5rem;
    background-color: #2C90F7;
    transition: all 1s ease;
}
.how-it-works{
    &__holder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4rem;
    }
    &__title{
        position: relative;
        text-align: center;
        margin-bottom: 3.2rem;
        color: #fff;
    }
    &__title::after{
        content: '';
        position: absolute;
        top: 3rem;
        left: 40%;
        width: 10.4rem;
        height: 0.2rem;
        background-color: #2C90F7;
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(3,15rem);
        gap: 2rem;
        color: #fff;
    }
    &__card{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        height: 13.95rem;
        border-radius: 1rem;
        border: #fff 2px solid;
        background-color: rgba($color: #09132F, $alpha: 0.6);
        background: #09132F99;
        text-align: center;
        transition: all 0.3s linear;
    }
    &__card:hover{
        transform: scale(1.1);
    }
    }
.card_swap::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 15.5rem;
    color: #2C90F7;
    }
.card{
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        backdrop-filter: blur(0.2rem);
        border: 1px solid rgba($color: #fff, $alpha: 0.09);
        background: rgba(255, 255, 255, 0.04);
        box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6);
        backdrop-filter: blur(10px);
        img{
            width: 2rem;
            height: 2rem;
            }
        }
    &__title {
        font: 600 0.8rem/1.12 "Montserrat";
        color: #fff;
    }
    &__txt {
        font: 400 0.7rem/0.98 "Montserrat";
        color: #fff;
    }
    }
.instruction {
    &__holder {
        display: flex;
        flex-direction: column;
    }
    &__title {
        position: relative;
        margin-bottom: 3.1rem;
        font: 600 1.3rem/1.65 "Montserrat";
        text-align: center;
        color: #fff;
    }
    &__title::after {
        content: '';
        position: absolute;
        top: 3rem;
        left: 40%;
        width: 10.4rem;
        height: 0.2rem;
        background-color: #2C90F7;
    }
    &__video {
        width: 100%;
        height: 29.15rem;
        border-radius: 1rem;
        overflow: hidden;
    }
}

.public-trading {
    &__holder {
        display: flex;
        flex-direction: column;
    }
    &__title { 
        text-align: center;
        font: 700 2em/1.2 "Montserrat";
        margin-bottom: 0.5rem;
    }
    &__txt {
        text-align: center;
        font: 400 0.8rem/1.2 "Montserrat";
        margin-bottom: 3.25rem;
    }
    &__txt {
        font: 400 0.8rem/1.3 "Montserrat";
        margin-bottom: 4.15rem;
        text-align: center;
    }
    &__card1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5.7rem;
        margin-bottom: 3rem;
    }
    &__card1-content {
        max-width: 30rem;
    }
    &__card1-title {
        position: relative;
        font: 600 1.3rem/1.7 "Montserrat";
        margin-bottom: 2.6rem;
    }
    &__card1-content:hover .card1-title::after {
        width: 20rem;
    }
    &__card2-content:hover .card2-title::after {
        width: 20rem;
    }
    &__card-txt {
        font: 400 0.8rem/1.35 "Montserrat";
    }
    &__card2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5.7rem;
        margin-bottom: 3rem;
    }
    &__card2-content {
        max-width: 30rem;
    }
    &__card2-title {
        position: relative;
        font: 600 1.3rem/1.7 "Montserrat";
        margin-bottom: 2.6rem;
    }
    &__img {
        position: relative;
        width: 15rem;
        height: 15rem;
        transform-style: preserve-3d;
    }
    &__img:hover .anim__alotmoney{
        transform: rotate(360deg);
    }
    &__img:hover .anim__left-top{
        transform: rotate(360deg);
    }
    &__img:hover .anim__right-top{
        transform: rotate(360deg);
    }
    &__img:hover .anim__button{
        transform: rotate(360deg);
    }
}
.card1-title::after {
    content: '';
    width: 10.4rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    top: 7.5rem;
    background-color: #2C90F7;
    transition: all 1s ease;
}
.card2-title::after {
    content: '';
    width: 10.4rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    top: 5.5rem;
    background-color: #2C90F7;
    transition: all 1s ease;
}
.telegram-traid {
    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
    }
    &__title {
        text-align: center;
        margin-bottom: 0.55rem;
        font: 700 2rem/1.4 "Montserrat";
    }
    &__txt {
        margin-bottom: 3rem;
        text-align: center;
        font: 400 0.75rem/1.2 "Montserrat";
    }
    &__holder {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.55rem;
    }
    &__img {
        width: 22.7rem;
        height: 28.85rem;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(2,16.5rem);
        grid-template-rows: repeat(2,16.5rem);
        gap: 2.55rem;
        margin-bottom: 2.5rem;
    }
    &__card {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 1rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border-radius: 1rem;
        background-color: #09132F;
    }
    &__button {
        position: relative;
        max-width: fit-content;
        padding:0.6rem 1.2rem ;
        border-radius:1.5rem ;
        padding-top: 1rem;
        margin-left: 46rem;
        font: inherit;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #2C90F7;
        outline: 2px solid #2C90F7;
        overflow: hidden;
        transition: color 1s;
        animation:button 5s infinite linear;

    }
    &__button:hover {
        color: #833ab4;
        box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
    }
    &__button:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          120deg,
          transparent,
          rgba(146, 148, 248, 0.4),
          transparent
        );
        transition: all 650ms;
      }
    &__button:hover:before {
        left: 100%;
      }
}






.footer {
    background-color: #09132F;
    padding: 3.75rem 0;
    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    &__menu a {
        position: relative;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    &__menu a::after {
        position: absolute;
        top: 100%;
        left: 0;
        content: '';
        width: 0;
        height: 2px;
        background-color: #2C90F7;
        transition: all 0.3s ease;
    }
    &__menu a:hover {
        color: #2C90F7;
    }
    &__menu a:hover::after {
        width: 100%;
    }
    &__copy {
        display: flex;
        justify-content: space-between;
        div{
            max-width: 11.75rem;
        }
        p{
            font: 400 0.6rem/0.75 "Montserrat";
        }
    }
    &-container {
        position: fixed;
        width: 100px;
        height: 100px;
        bottom: 0;
        right: 0;
        margin: 35px 25px;
    }
    &-container:hover {
        height: 300px;
    }
    &-container:hover .floating-button {
        box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
        -webkit-transform: translatey(5px);
                transform: translatey(5px);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    &-container:hover .element-container .float-element:nth-child(1) {
        -webkit-animation: come-in 0.4s forwards 0.2s;
                animation: come-in 0.4s forwards 0.2s;
    }
    &-container:hover .element-container .float-element:nth-child(2) {
        -webkit-animation: come-in 0.4s forwards 0.4s;
                animation: come-in 0.4s forwards 0.4s;
    }
    &-container:hover .element-container .float-element:nth-child(3) {
        -webkit-animation: come-in 0.4s forwards 0.6s;
                animation: come-in 0.4s forwards 0.6s;
    }
    &-container .floating-button {
        position: absolute;
        width: 65px;
        height: 65px;
        background: #2cb3f0;
        bottom: 0;
        border-radius: 50%;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        line-height: 65px;
        text-align: center;
        font-size: 23px;
        z-index: 100;
        box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
        cursor: pointer;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    &-container .float-element {
        position: relative;
        display: block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 15px auto;
        color: white;
        font-weight: 500;
        text-align: center;
        line-height: 50px;
        z-index: 0;
        opacity: 0;
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    &-container .float-element .material-icons {
        vertical-align: middle;
        font-size: 16px;
    }
    &-container .float-element:nth-child(1) {
        background: #42A5F5;
        box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
    }
    &-container .float-element:nth-child(2) {
        background: #4CAF50;
        box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
    }
    &-container .float-element:nth-child(3) {
        background: #FF9800;
        box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
    }
}

@keyframes come-in {
    0% {
      -webkit-transform: translatey(100px);
              transform: translatey(100px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translateX(-50px) scale(0.4);
              transform: translateX(-50px) scale(0.4);
    }
    70% {
      -webkit-transform: translateX(0px) scale(1.2);
              transform: translateX(0px) scale(1.2);
    }
    100% {
      -webkit-transform: translatey(0px) scale(1);
              transform: translatey(0px) scale(1);
      opacity: 1;
    }
  }
@keyframes button {
    0% {
        top:0em}

    40% {
        top:0em
    }
    43% {
        top:-0.9em
    }
    46% {
        top:0em
    }
    48% {
        top:-0.4em
    }
    50% {
        top:0em
    }
    100% {
        top:0em;
    }
}
@keyframes circle{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes anim__red-cercle {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(184, 54, 54, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(218, 45, 45, 0);
        box-shadow: 0 0 0 10px rgba(211, 28, 28, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

@keyframes anim__blue-cercle {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(80, 72, 185, 0.4);
        box-shadow: 0 0 0 0 rgba(19, 17, 150, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(47, 44, 204, 0);
        box-shadow: 0 0 0 10px rgba(35, 32, 196, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 4, 245, 0);
        box-shadow: 0 0 0 0 rgba(0, 4, 255, 0);
    }
}

@keyframes anim__green-cercle {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0.4);
        box-shadow: 0 0 0 0 rgba(44, 204, 84, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(44, 204, 79, 0);
        box-shadow: 0 0 0 10px rgba(49, 204, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0);
        box-shadow: 0 0 0 0 rgba(0, 255, 34, 0);
    }
}    
@keyframes levi {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes cash {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}
@keyframes cash2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}
@keyframes computer {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}
// @keyframes slidein {
//     from {
//       margin-left: 100%;
//       width: 300%;
//     }
  
//     to {
//       margin-left: 0%;
//       width: 100%;
//     }
// }
@keyframes man-step{
    0% {
        left: 10rem;
        top: 10rem;
    }
    50% {
        left: 13rem;
        top: 8rem;
    }
    100% {
        left: 10rem;
        top: 10rem;
    }
}

@keyframes right-table { 
    100% {
        -moz-transform : rotate(2turn);
        -webkit-transform : rotate(2turn);
        -ms-transform : rotate(2turn);
        transform : rotate(2turn);
        } 
}
 
@keyframes left-table { 
    100% {
        -moz-transform : rotate(2turn);
        -webkit-transform : rotate(2turn);
        -ms-transform : rotate(2turn);
        transform : rotate(2turn);
        } 
}



@media  (min-width: 1300px){
    .wf-section__container{
        grid-template-columns: 22rem 36rem;
    }
    .container{
        max-width: 85%;
        padding: 1rem;
    }
    .holder{
        width: 50.65rem;
        padding: 1rem;
    }
}
@media (min-width: 767px) and (max-width: 1300px) {
    html{
        font-size: 14px;
    }
    .container{
        max-width: 85%;
        padding: 0.5rem;
        margin: 0 auto;
    }
    .header{
        &__container{
            display: flex;
            justify-content: space-around;
        }
        &__headen-menu{
            display: block;
        }
        &__menu{
            display: none;
        }
    }
    .wf-section{
        &__container{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &__animation{
            transform:perspective(16cm) scale(0.7);
        }
    }
    .anim{
        &__telephone{
            position: absolute;
            top: 24%;
            left: 25%;
            width: 10%;
            height: 20%;
            animation-name: levitation;
            animation-duration: 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        &__coin-1{
            position: absolute;
            top: 33%;
            left: 40%;
            width: 10%;
            height: 10%;
            animation-name: levitation;
            animation-duration: 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        &__coin-2{
            position: absolute;
            top: 40%;
            left: 10%;
            width: 10%;
            height: 10%;
            animation-name: levitation;
            animation-duration: 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
    .how-it-works{
        &__title::after{
            content: '';
            position: absolute;
            top: 3rem;
            left: 35%;
            width: 10.4rem;
            height: 0.2rem;
            background-color: #2C90F7;
        }
    }
    .instruction{
        &__title::after{
            content: '';
            position: absolute;
            top: 105%;
            left: 35%;
            width: 10.4rem;
            height: 0.2rem;
            background-color: #2C90F7;
        }
    }
    .telegram-traid{
        &__holder{
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
        &__cards{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 2.55rem;
            margin-bottom: 2.5rem;
        }
        &__img{
            width: 100%;
            height: 100%;
        }
        &__form{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 1rem;
        }
        &__input{
            margin-right: 0;
            width: 70%;
            color: #fff;
        }
        &__submit{
            width: 70%;
        }
    }
}

@media (max-width: 767px) {
    html{
        font-size: 14px;
        text-align: center;
    }
    .container{
        max-width: none;
        padding: 0.5rem;
        margin: 0 auto;
    }
    .holder{
        width: 95%;
        padding: 0.5rem;
        margin: 0 auto;
    }
    .header{
        &__container{
            display: flex;
            justify-content: space-around;
        }
        &__headen-menu{
            display: block;
        }
        &__menu{
            display: none;
        }
    }
    .wf-section{
        &__container{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        &__content{
            justify-content: center;
            align-items: center;
        }
        &__button{
            padding: 1rem 3rem;
            font: 700 2rem/1.2rem "Montserrat";
        }
        &__animation{
            transform: perspective(16cm) scale(0.7);
        }
    }
    .passive-income{
        &__card1{
            display: flex;
            flex-direction: column;
        }
        &__card-content{
            text-align: center;
        }
        &__card2{
            display: flex;
            flex-direction: column-reverse;
        }
        &__card-content:hover .card-title1::after{
            width: 100%;
            left: 0;
        }
        &__card-content:hover .card-title2::after{
            width: 100%;
            left: 0;
        }
    }
    .card-title1::after{
        content: '';
        width: 10.4rem;
        height: 0.2rem;
        position: absolute;
        left: 30%;
        top: 120%;
        background-color: #2C90F7;
        transition: all 1s ease;
    }
    .card-title2::after{
        content: '';
        width: 10.4rem;
        height: 0.2rem;
        position: absolute;
        left: 30%;
        top: 115%;
        background-color: #2C90F7;
        transition: all 1s ease;
    }
    .how-it-works{
        &__cards{
            display: flex;
            flex-direction: column;
        }
        &__title::after{
            content: '';
            position: absolute;
            top: 3rem;
            left: 30%;
            width: 10.4rem;
            height: 0.2rem;
            background-color: #2C90F7;
        }
    }
    .card_swap::after{
        content: '↓';
        position: absolute;
        top: 103%;
        left: 50%;
        color: #2C90F7;
    }
    .instruction{
        &__title::after{
            content: '';
            position: absolute;
            top: 105%;
            left: 30%;
            width: 10.4rem;
            height: 0.2rem;
            background-color: #2C90F7;
        }
    }
    .public-trading{
        &__card1{
            display: flex;
            flex-direction: column;
        }
        &__card2{
            display: flex;
            flex-direction: column-reverse;
        }
        &__card1-content:hover .card1-title::after{
            width: 100%;
            left: 0;
        }
        &__card2-content:hover .card2-title::after{
            width: 100%;
            left: 0;
        }
    }
    .card1-title::after{
        content: '';
        width: 10.4rem;
        height: 0.2rem;
        position: absolute;
        left: 30%;
        top: 120%;
        background-color: #2C90F7;
        transition: all 1s ease;
    }
    .card2-title::after{
        content: '';
        width: 10.4rem;
        height: 0.2rem;
        position: absolute;
        left: 30%;
        top: 120%;
        background-color: #2C90F7;
        transition: all 1s ease;
    }
    .telegram-traid{
        &__holder{
            flex-direction: column;
        }
        &__cards{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 0.5rem;     
        }
        &__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                margin-bottom: 1rem;
            }
        }
        &__input{
            margin-right: 0;
            width: 70%;
            color: #fff;
        }
    }
    .wrap{
        padding: 0.5rem;
    }
    .footer{
        &__container{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        &__logo{
            max-width: 30%;
            margin-bottom: 0.5rem;
        }
        &__menu{
            display: flex;
            flex-direction: column;
        }
        &__copy{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            p{
                margin-bottom: 0.3rem;
            }
        }
    }
}